<ul *ngIf="isLoaded" class="list-group">
  <li
    *ngFor="let album of albumRanking; let i = index"
    class="list-group-item d-flex align-items-center"
  >
    <div class="ranking-number">
      <h3>{{ rankingNumber + i }}</h3>
    </div>
    <a [routerLink]="['/albums', album.album.id]"
      ><img
        class="ranking-image"
        src="{{ album.album.coverUrl }}"
        alt="{{ album.album.name }}"
    /></a>
    <div class="album-info">
      <h5>
        {{ album.album.name }}
        <h6>({{ album.album.year }})</h6>
      </h5>

      {{ album.album.artist }}
    </div>
    <div class="wrapper">
      <h5>Your rate:</h5>
      <h2>
        <div class="star">★</div>

        {{ album.rate.toFixed(2) }}
      </h2>
    </div>
  </li>
</ul>

<div *ngIf="isLoaded" class="d-flex justify-content-center">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>