<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          src="{{ artist.photoUrl }}"
          alt="{{ artist.name }}"
          class="card-img-top img-thumbnail"
        />
        <div class="card-body">
          <div>
            <h5 class="card-title">Artist:</h5>
            <p>{{ artist.name }}</p>
          </div>
          <div>
            <h5 class="card-title">More info:</h5>
            <p>Later here will be more artist info</p>
          </div>
        </div>
        <div class="card-footer">
          <ul
            class="list-inline member-icons animate text-center"
            style="font-size: 28px; color: gold;"
          >
            <rating
              [(ngModel)]="rate"
              [max]="max"
              [readonly]="isReadonly"
              (onHover)="hoveringOver($event)"
              (onLeave)="resetStar()"
              (ngModelChange)="saveRate()"
              [titles]="['one', 'two', 'three']"
            ></rating>
            <span
              class="label"
              [ngStyle]="{
                display: overStar && !isReadonly ? 'inline' : 'none'
              }"
            ></span>
            <div>{{ overStar }}/10</div>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Overview">
            <h4>Rates and comments</h4>
            <p>More info (rates and comments) about artist will go here</p>
          </tab>
          <tab heading="About artist">
            <h4>Description</h4>
            <p>Artist bio will go here</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
