.ranking-number {
  width: 3%;
  margin: auto;
}

.ranking-image {
  margin-left: 30px;
  height: 100px;
  width: 100px;
}

.list-group {
  width: 60%;
  margin: auto;
}

.artist-info {
  margin-left: 30px;
  font-size: 16px;
  width: 65%;
}

.number-of-rates {
  margin: auto;
  width: 70%;
}

.wrapper {
  overflow: hidden;
  width: 130px;
}

.star {
  color: gold;
  float: left;
}
