.navbar {
  max-height: 40px;
}

.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

.track-container {
  width: 70%;
}

.input-group {
  width: 30%;
  height: 60px;
  right: 13px;
  position: absolute;
  margin: auto;
  top: 0;
  margin-top: -15px;
}

.navbar-center {
  position: relative;
  left: 0px;
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
}

.fa-music {
  margin-right: 10px;
}

.dropdown-item.enabled {
  color: #1a1a1a;
  background-color: transparent;
}

.dropdown-item.enabled:hover {
  color: #0d0d0d;
  text-decoration: none;
  background-color: #f8f9fa;
}

.ranking-image {
  margin-left: 30px;
  height: 180px;
  width: 180px;
  padding-bottom: 10px;
}

.navbar-current {
  max-height: 100%;
}

.current-track-info {
  margin-left: 20px;
  margin-right: 100px;
  color: white;
  max-height: 165px;
  max-width: 100%;
}

h4 {
  color: gray;
}

h6 {
  color: white;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h6:hover {
  overflow: visible;
}

h5 {
  margin-top: 20px;
  margin-bottom: 0px;
  color: gray;
}

.list-inline {
  margin-top: 0;
  width: 250px;
}

.row {
  position: relative;
  width: 100%;
}

.arrow-up {
  position: absolute;
  bottom: 3px;
  right: 13px;
  cursor: pointer;
}

.arrow-down {
  position: absolute;
  bottom: 3px;
  right: 0px;
  cursor: pointer;
}

.fa-chevron-up {
  font-size: 20px;
}

.fa-chevron-down {
  font-size: 20px;
}

.list-inline {
  font-size: 28px;
  color: gold;
}

.search {
  max-width: 350px;
  height: 38px;
  margin-right: 25px;
  box-shadow: none;
}

.cred {
  width: 150px;
  margin-right: 25px;
}
