<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          src="{{ album.coverUrl }}"
          alt="{{ album.name }}"
          class="card-img-top img-thumbnail"
        />
        <div class="card-body">
          <ul class="list-inline member-icons animate text-center">
            <rating
              [(ngModel)]="rate"
              [max]="max"
              [readonly]="isReadonly"
              (onHover)="hoveringOver($event)"
              (onLeave)="resetStar()"
              (ngModelChange)="saveRate()"
              [titles]="['one', 'two', 'three']"
            ></rating>
            <span
              class="label"
              [ngStyle]="{
                display: overStar && !isReadonly ? 'inline' : 'none'
              }"
            ></span>
            <div>{{ overStar }}/10</div>
          </ul>
          <div>
            <h5 class="card-title">Artist:</h5>
            <a [routerLink]="['/artists', album.artistId]">
              <p>{{ album.artist }}</p></a
            >
          </div>
          <div>
            <h5 class="card-title">Title:</h5>
            <p>{{ album.name }}</p>
          </div>
          <div>
            <h5 class="card-title">Year:</h5>
            <p>{{ album.year }}</p>
          </div>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Overview">
            <app-album-comments [albumId]="album.id"></app-album-comments>
          </tab>
          <tab heading="About album">
            <h4>Description</h4>
            <p>More info about album will go here</p>
          </tab>
          <tab heading="Reviews">
            <h4>Critics reviews</h4>
            <p>Critics reviews go here</p>
            <h4>Users reviews</h4>
            <p>Users reviews go here</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
